/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:black;
color:white;
font-family:sans-serif;
overflow-x:hidden;
}

/* SPACE BACKGROUND */

#bg{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
pointer-events:none;
}

/* CURSOR LIGHT */

#cursor-light{
position:fixed;
width:300px;
height:300px;
background:radial-gradient(circle,#22d3ee33,transparent);
pointer-events:none;
transform:translate(-50%,-50%);
z-index:0;
}

.logo{
display:flex;
align-items:center;
}

.logo-name{

position:relative;

padding:6px 16px;

font-weight:700;
letter-spacing:1px;

color:#22d3ee;

border-radius:6px;

background:rgba(20,20,20,0.6);

text-shadow:0 0 6px #22d3ee55;

overflow:hidden;

box-shadow:
0 0 6px #22d3ee33,
0 0 12px #22d3ee22;

}

/* viền động */

.logo-name::before{

content:"";

position:absolute;

inset:-2px;

border-radius:6px;

background:linear-gradient(
90deg,
transparent,
#22d3ee,
transparent
);

animation:borderRun 3s linear infinite;

z-index:-1;

}

@keyframes borderRun{

0%{
transform:translateX(-100%);
}

100%{
transform:translateX(100%);
}

}

/* LOGO CONTAINER */

.logo{
display:flex;
align-items:center;
position:relative;
}

/* MAIN LOGO */

.logo-tech{

position:relative;

padding:8px 22px;

font-size:18px;
font-weight:700;
letter-spacing:2px;

color:#22d3ee;

background:rgba(10,10,10,0.75);

border-radius:6px;

text-shadow:
0 0 6px #22d3ee,
0 0 12px #22d3ee66;

box-shadow:
0 0 10px #22d3ee33 inset,
0 0 12px #22d3ee22;

overflow:hidden;

transition:all .35s ease;

animation:logoPulse 4s ease-in-out infinite;

}

/* HOVER GLOW */

.logo-tech:hover{

text-shadow:
0 0 10px #22d3ee,
0 0 20px #22d3ee,
0 0 30px #22d3ee;

box-shadow:
0 0 20px #22d3ee88 inset,
0 0 35px #22d3ee66;

}

/* NEON BORDER */

.logo-tech::before{

content:"";

position:absolute;

inset:-2px;

border-radius:6px;

background:linear-gradient(
90deg,
transparent,
#22d3ee,
transparent
);

animation:borderRun 4s linear infinite;

z-index:-1;

}

/* PARTICLE 1 */

.logo::after{

content:"";

position:absolute;

width:5px;
height:5px;

background:#22d3ee;

border-radius:50%;

box-shadow:
0 0 6px #22d3ee,
0 0 12px #22d3ee;

animation:particle1 7s linear infinite;

}

/* PARTICLE 2 */

.logo::before{

content:"";

position:absolute;

width:4px;
height:4px;

background:#22d3ee;

border-radius:50%;

box-shadow:
0 0 5px #22d3ee,
0 0 10px #22d3ee;

animation:particle2 9s linear infinite;

}

/* EXTRA PARTICLE */

.logo-tech::after{

content:"";

position:absolute;

width:3px;
height:3px;

background:#22d3ee;

border-radius:50%;

box-shadow:
0 0 5px #22d3ee;

animation:particle3 6s linear infinite;

}

/* PARTICLE PATHS */

@keyframes particle1{

0%{left:-30px; top:40%; opacity:0;}
10%{opacity:1;}
50%{left:50%; top:-10px;}
90%{opacity:1;}
100%{left:120%; top:60%; opacity:0;}

}

@keyframes particle2{

0%{right:-30px; top:60%; opacity:0;}
10%{opacity:1;}
50%{right:50%; top:100%;}
90%{opacity:1;}
100%{right:120%; top:20%; opacity:0;}

}

@keyframes particle3{

0%{top:-10px; left:20%; opacity:0;}
20%{opacity:1;}
60%{top:120%; left:70%;}
100%{top:140%; left:90%; opacity:0;}

}

/* BORDER RUN */

@keyframes borderRun{

0%{
transform:translateX(-100%);
}

100%{
transform:translateX(100%);
}

}

/* GLOW PULSE */

@keyframes logoPulse{

0%{
box-shadow:
0 0 6px #22d3ee22 inset,
0 0 8px #22d3ee22;
}

50%{
box-shadow:
0 0 18px #22d3ee66 inset,
0 0 25px #22d3ee55;
}

100%{
box-shadow:
0 0 6px #22d3ee22 inset,
0 0 8px #22d3ee22;
}

}

/* NAVBAR */

.nav{

position:fixed;
top:0;
width:100%;

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 40px;

background:linear-gradient(
to bottom,
rgba(0,0,0,0.8),
rgba(0,0,0,0.4)
);

backdrop-filter:blur(12px);

border-bottom:1px solid #22d3ee33;

z-index:1000;

}

.nav::after{

content:"";

position:absolute;

bottom:0;
left:0;

width:100%;
height:1px;

background:linear-gradient(
90deg,
transparent,
#22d3ee,
transparent
);

opacity:0.6;

}


.logo{
color:#22d3ee;
font-weight:bold;
font-size:18px;
}

.menu button{

margin-left:12px;

background:transparent;

border:1px solid #1f1f1f;

color:white;

padding:6px 14px;

border-radius:6px;

cursor:pointer;

font-size:14px;

transition:all .25s ease;

}

.menu button:hover{

border-color:#22d3ee;

color:#22d3ee;

box-shadow:0 0 8px #22d3ee55;

transform:translateY(-1px);

}

.menu button.active{

background:#22d3ee;

color:black;

border-color:#22d3ee;

}

.menu button::after{
content:"";
display:block;
width:0;
height:2px;
background:#22d3ee;
transition:.3s;
margin:auto;
}

.menu button:hover::after{
width:100%;
}

/* SLIDES */

.slides{
display:flex;
width:400vw;
transition:transform 0.8s ease;
z-index:1;
}

.slide{
width:100vw;
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:center;
padding:120px 40px 60px 40px;
text-align:center;
overflow-y:auto;
}

/* TITLE */

.title{
font-size:36px;
color:#22d3ee;
margin-bottom:30px;
}

/* BUTTONS */

.btn{
background:#22d3ee;
color:black;
padding:10px 22px;
border-radius:8px;
transition:0.3s;
}

.btn:hover{
box-shadow:0 0 12px #22d3ee;
}

.btn-outline{
border:1px solid #22d3ee;
padding:10px 22px;
border-radius:8px;
transition:0.3s;
}

.btn-outline:hover{
background:#22d3ee;
color:black;
}

/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:center;
}

.hero-container{
display:flex;
align-items:center;
justify-content:space-between;
gap:80px;
max-width:1100px;
width:100%;
}

.hero-text{
display:flex;
flex-direction:column;
align-items:flex-start;
gap:20px;
max-width:500px;
}

.hero-greeting{
font-size:20px;
color:#bbb;
margin-bottom:6px;
}

.hero-name{
font-size:46px;
font-weight:700;
}

.typing{
font-size:22px;
color:#22d3ee;
min-height:28px;
}

.hero-desc{
color:#bbb;
line-height:1.6;
}

.hero-buttons{
display:flex;
gap:15px;
margin-top:10px;
}

/* HERO AVATAR */

.hero-avatar{
width:260px;
height:260px;
border-radius:50%;
overflow:hidden;
position:relative;
}

.hero-avatar img{
width:100%;
height:100%;
object-fit:cover;

border-radius:50%;
border:3px solid #22d3ee;

box-shadow:
0 0 15px #22d3ee,
0 0 35px #22d3ee,
0 0 60px #22d3ee33;

animation:glowPulse 4s ease-in-out infinite;
}

/* ABOUT */

.about-container{
max-width:720px;
display:flex;
flex-direction:column;
gap:18px;
line-height:1.7;
font-size:16px;
color:#bbb;
}

.about-container p{
text-align:left;
}

/* SKILLS GRID */

.skills{
margin-top:40px;
width:80%;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:16px;
}

/* SKILL CARD */

.skill{
background:#111;
padding:18px 10px;
border-radius:10px;
text-align:center;
transition:0.3s;
border:1px solid #1f1f1f;

display:flex;
flex-direction:column;
align-items:center;
gap:8px;
}

.skill{

display:flex;
flex-direction:column;
align-items:center;
gap:8px;

}

.skill-icon{

width:28px;
height:28px;

object-fit:contain;

}

.skill i{
font-size:26px;
color:#22d3ee;
}

.skill span{
font-size:14px;
color:#bbb;
}

.skill:hover{
transform:translateY(-5px);
box-shadow:0 0 10px #22d3ee;
border-color:#22d3ee;
}

/* PROJECT GRID */

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(380px,1fr));
gap:40px;
width:85%;
}

/* PROJECT CARD */

.project-card{
background:#111;
padding:20px;
border-radius:12px;
transition:0.3s;
display:flex;
flex-direction:column;
gap:15px;
max-width:480px;
margin:auto;
}

.project-card:hover{
transform:translateY(-6px);
box-shadow:0 0 12px #22d3ee;
}

/* MAIN IMAGE */

.project-main{
width:100%;
height:240px;
object-fit:cover;
border-radius:8px;
box-shadow:0 0 10px #000;
}

/* PROJECT GALLERY */

.project-gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(70px,1fr));
gap:8px;

max-width:420px;
margin:auto;

max-height:120px;
overflow-y:auto;
padding-right:5px;
}

.project-gallery img{
width:100%;
height:60px;
object-fit:cover;
border-radius:6px;
transition:0.3s;
cursor:pointer;
}

.project-gallery img:hover{
transform:scale(1.08);
box-shadow:0 0 6px #22d3ee;
}

/* PROJECT LINKS */

.project-links{
margin-top:10px;
display:flex;
gap:10px;
}

/* CONTACT GRID */

.contact-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
gap:20px;
width:80%;
margin-top:40px;
}

.contact-card{
display:flex;
align-items:center;
gap:16px;
background:#111;
padding:18px 22px;
border-radius:12px;
transition:0.3s;
}

.contact-card:hover{
transform:translateY(-5px);
box-shadow:0 0 12px #22d3ee;
background:#141414;
}

.contact-icon{
font-size:28px;
}

/* QR CODE */

.contact-qr{
margin-top:40px;
display:flex;
flex-direction:column;
align-items:center;
gap:10px;
}

.contact-qr img{
width:140px;
display:block;
border-radius:10px;
box-shadow:0 0 10px #22d3ee;
}
.contact-qr img:hover{
transform:scale(1.05);
box-shadow:0 0 18px #22d3ee;
transition:0.3s;
}

/* MOBILE */

@media(max-width:900px){

.hero-container{
flex-direction:column;
text-align:center;
gap:40px;
}

.hero-text{
align-items:center;
}

.hero-name{
font-size:34px;
}

.hero-avatar img{
width:190px;
height:190px;
}

.project-grid{
width:95%;
}

.contact-grid{
width:95%;
}

.skills{
width:95%;
}

.nav{
padding:15px 20px;
}

}
/* CERTIFICATE PREVIEW */

.certificate-box{

margin-top:40px;
background:#111;

padding:25px;

border-radius:12px;

display:none;
flex-direction:column;
align-items:center;

gap:20px;

width:80%;
max-width:600px;

box-shadow:0 0 15px #000;

}

.certificate-box h3{

color:#22d3ee;

}

.certificate-box img{

width:100%;
max-width:500px;

border-radius:8px;

box-shadow:0 0 10px #000;

}

.cert-buttons{

display:flex;
gap:10px;

}
/* CERTIFICATE */

.certificate-box{

margin-top:40px;

background:#111;

padding:25px;

border-radius:12px;

display:none;

flex-direction:column;

align-items:center;

gap:20px;

width:80%;
max-width:600px;

}

.certificate-box img{

width:100%;

max-width:500px;

border-radius:8px;

}

.cert-buttons{

display:flex;

gap:10px;

}